*{
margin: 0px;
box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  background-color: #f2f2f7;
  transition: 0.4s;
}


/* **** < Hero Section > **** */


/* Form */
.form{
  margin: 10vw;
  margin-bottom: 50px;
  margin-top: 20px; 
  text-align: center; 
}
.title{
  font-size: 4vw;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 500px) {
  .title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.label {
  display: block;
  margin-bottom: 10px;
}
input[type="number"] {
  width: 240px;
  padding: 10px;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
} 
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
button:hover {
  background-color: #45a049;
}
#result-label {
  font-weight: bold;
}
#result {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 30px;
}
.a_tag{
text-decoration: none;
color: black;
font-size: 15px;
}


/* **** < About Section> **** */


/* 2ndDiv info  */
.info{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
}
.info .title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.h2_title{
  margin-top: 20px;
  font-size: 22px;
}
.h2_title2{
  margin-top: 35px;
  font-size: 22px;
}
.p_tag{
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {

}


/* **** < Footer Section > **** */


/* Styles for footer element */
.footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
  padding-top: 14px;
}
